[Desktop Entry]
X-KDE-Library=korg_whatsnextprint
Name=What's Next Print Style
Name[ca]=Estil d'impressió «Què toca ara?»
Name[es]=Cuál es el siguiente estilo de impresión
Name[fi]=Mitä seuraavaksi -tulostustyyli
Name[gl]=Estilo de impresión do que ven agora
Name[nb]=Utskriftsstil for Hva Nå
Name[nl]=Printstijl voor Wat komt er nu
Name[nn]=Utskriftsstil for «neste hendingar»
Name[pl]=Styl drukowania "Do dalej"
Name[pt]=Estilo de Impressão dos Próximos Itens
Name[pt_BR]=Estilo de impressão "A seguir"
Name[sk]=Štýl tlače Čo nasleduje
Name[sv]=Vad står på tur-utskriftsstil
Name[uk]=Стиль друку «Що далі?»
Name[x-test]=xxWhat's Next Print Stylexx
Name[zh_CN]=下步安排打印样式
Comment=This plugin allows you to print out a list of all upcoming events and to-dos.
Comment[ca]=Aquest connector us permet imprimir una llista de tots els esdeveniments i pendents properes.
Comment[es]=Este complemento le permite imprimir una lista de todos los eventos y tareas pendientes futuras.
Comment[fi]=Tämä liitännäinen mahdollistaa tulevien tapahtumien ja tehtävien tulostuksen listana.
Comment[gl]=Este complemento permite imprimir unha lista de todas as actividades e tarefas vindeiras.
Comment[nb]=Med dette programtillegget kan du skrive ut en liste over kommende hendelser og ting som skal gjøres.
Comment[nl]=Deze plug-in maakt het mogelijk om een lijst van alle komende evenementen en taken uit te printen.
Comment[nn]=Dette programtillegget lèt deg skriva ut ei liste over alle dei kommande hendingane og oppgåvene i hugselista.
Comment[pl]=Ta wtyczka pozwala wydrukować wszystkie przyszłe zdarzenia i zadania.
Comment[pt]=Este 'plugin' permite-lhe imprimir uma lista com todos os próximos eventos e itens por-fazer.
Comment[pt_BR]=Este plugin permite-lhe imprimir uma lista de todos os próximos eventos e tarefas.
Comment[sk]=Tento modul umožní vytlačiť zoznam všetkých nadchádzajúcich udalostí a úloh.
Comment[sv]=Det här insticksprogrammet gör att du kan skriva ut en lista med alla kommande händelser och uppgifter.
Comment[uk]=Цей додаток надає змогу друкувати список всіх майбутніх подій та завдань.
Comment[x-test]=xxThis plugin allows you to print out a list of all upcoming events and to-dos.xx
Comment[zh_CN]=此插件允许您打印所有即将到达的事件和代办事宜。
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,KOrganizer/PrintPlugin
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
