[Desktop Entry]
Name=Calendar Plugin Interface
Name[ar]=واجهة ملحقة التّقاويم
Name[az]=Təqvim Əlavəsi İnterfeysi
Name[ca]=Interfície de connector del calendari
Name[ca@valencia]=Interfície de connector del calendari
Name[cs]=Rozhraní modulu kalendáře
Name[da]=Grænseflade til kalender-plugin
Name[de]=Kalender-Modulschnittstelle
Name[el]=Περιβάλλον χρήσης προσθέτου ημερολογίου
Name[en_GB]=Calendar Plugin Interface
Name[es]=Interfaz del complemento de calendario
Name[et]=Kalendriplugina liides
Name[eu]=Egutegietarako plugin interfazea
Name[fi]=Kalenteriliitännäisen käyttöliittymä
Name[fr]=Interface de module d'agenda
Name[gl]=Interface do complemento de calendario
Name[ia]=Interfacie de plug-in de Calendario
Name[it]=Interfaccia dell'estensione calendario
Name[ja]=カレンダープラグインインターフェース
Name[ko]=달력 플러그인 인터페이스
Name[nb]=Grensesnitt til kalender-programtillegg
Name[nl]=Interface van agendaplug-in
Name[nn]=Grensesnitt til kalender-programtillegg
Name[pl]=Interfejs wtyczek do kalendarza
Name[pt]=Interface de 'Plugin' do Calendário
Name[pt_BR]=Interface do Plugin de Calendário
Name[ru]=Модуль календаря
Name[sk]=Rozhranie modulu kalendára
Name[sl]=Vmesnik za koledarske vstavke
Name[sr]=Сучеље прикључка за календар
Name[sr@ijekavian]=Сучеље прикључка за календар
Name[sr@ijekavianlatin]=Sučelje priključka za kalendar
Name[sr@latin]=Sučelje priključka za kalendar
Name[sv]=Insticksprogram för kalendergränssnitt
Name[tr]=Takvim Eklentisi Arayüzü
Name[uk]=Інтерфейс додатка календаря
Name[x-test]=xxCalendar Plugin Interfacexx
Name[zh_CN]=日历插件界面
Name[zh_TW]=行事曆附加元件介面
Type=ServiceType
X-KDE-ServiceType=Calendar/Plugin
Comment=Calendar Plugin
Comment[ar]=ملحقة التّقاويم
Comment[az]=Təqvim Əlavəsi
Comment[ca]=Connector calendari
Comment[ca@valencia]=Connector calendari
Comment[cs]=Kalendářový modul
Comment[da]=Calendar-plugin
Comment[de]=Kalender-Modul
Comment[el]=Πρόσθετο ημερολογίου
Comment[en_GB]=Calendar Plugin
Comment[es]=Complemento de calendario
Comment[et]=Kalendriplugin
Comment[eu]=Egutegi-plugina
Comment[fi]=Kalenteriliitännäinen
Comment[fr]=Module d'agenda
Comment[gl]=Complemento de calendario
Comment[ia]=Plug-in de Calendario
Comment[it]=Estensione calendario
Comment[ja]=カレンダープラグイン
Comment[ko]=달력 플러그인
Comment[nb]=Kalender-programtillegg
Comment[nl]=Agendaplug-in
Comment[nn]=Kalender-programtillegg
Comment[pl]=Wtyczka do kalendarza
Comment[pt]='Plugin' de Calendário
Comment[pt_BR]=Plugin de Calendário
Comment[ru]=Модуль календаря
Comment[se]=Kaleandarlassemoduvla
Comment[sk]=Modul Calendar
Comment[sl]=Vstavek za koledar
Comment[sr]=Прикључак за календар
Comment[sr@ijekavian]=Прикључак за календар
Comment[sr@ijekavianlatin]=Priključak za kalendar
Comment[sr@latin]=Priključak za kalendar
Comment[sv]=Insticksprogram för kalender
Comment[tr]=Takvim Eklentisi
Comment[uk]=Додаток календаря
Comment[x-test]=xxCalendar Pluginxx
Comment[zh_CN]=日历插件
Comment[zh_TW]=行事曆附加元件

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
