[Desktop Entry]
Name=Calendar Plugin Interface
Type=ServiceType
X-KDE-ServiceType=Calendar/Plugin
Comment=Calendar Plugin

[PropertyDef::X-KDE-KOrganizer-HasSettings]
Type=bool

[PropertyDef::X-KDE-PluginInterfaceVersion]
Type=int
